* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.large-image-container {
  width: 100vw;
  height: 100vh;
}

.large-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(
    -50%
  ); /* https://medium.com/@okothelvis137/the-secrete-behind-transform-translate-50-css-property-3c46e7365bc3#:~:text=The%20transform%3A%20translateX(%2D50%25)&text=It%20moves%20the%20element%20left,to%20the%20left%20by%20100px.*/
  z-index: 10;
}

.thumbnail-container img {
  cursor: pointer;
  width: 100px;
  height: 75px;
  object-fit: cover;
}
